airflow/clean_model/trained.pickle
airflow/clean_functions/__pycache__
airflow/logs
airflow/dags/__pycache__
airflow/data_others/__pycache__
fastapi/__pycache__
streamlit/tabs/__pycache__
streamlit/__pycache__
