/* Couleur des titres */
h1, h2, h3, h4 {
    color: #C2F225;
}

/* Couleur de l'arrière-plan de la barre du haut */
.css-18ni7ap {
    background-color: rgb(17,15,15);
}

/* Couleur de l'arrière-plan de la fenêtre principale */
.stApp {
    background-image: url("https://img.freepik.com/free-photo/slate-texture-background_24972-292.jpg");
    background-size: cover;
}

/* Couleur de l'arrière-plan de sidebar */
.css-6qob1r {
    background-image: linear-gradient(to right,rgb(223, 29, 133),orange);
}